


.upload__resumes{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 75vh;
    padding: var(--main-padding);
    .informative{
        padding: var(--main-padding);
        background-color: var(--light-color);
        border-radius: 8px;
        width: -webkit-fill-available;
    }
    .upload__section{
        padding: calc(var(--main-padding) * 2);
    }
}
.upload__resumes__table {
    margin: 20px 0;
    color: var(--text-color) !important;
}

.upload__resumes__table__footer{
    display: flex;
    align-items: end;
}

.upload__input{
    margin: 2rem 0 ;
}