@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&family=Salsa&display=swap');

:root {
  /* variables */
  --color-primary: #242424;
  --color-secondary: #7125d8; 
  --color-secondary-opacity: #eee5ff;
  --main-padding: 2rem;
  --main-border-size: 1.5px;
  --light-color: #2c2c2c;
  --text-color : rgba(255, 255, 255, 0.87);



  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--text-color) ;
  /* background-color: var(--color-primary); */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;


  a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover{
      color:var(--color-secondary);
    }
  }
}


body {
  margin: 0;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
.MuiAlert-message{
  color: var(--text-color);
}
.MuiPaper-root{
  margin: 10px 0;
}
button  {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:var(--color-primary);
  transform: scale(1.05);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --light-color: #f5f5f5;
    --text-color : var(--color-primary);
    color: var(--text-color);
    background-color: #ffffff;
    a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: var(--color-secondary);
    }
  }
  }
  a:hover {
    color: var(--text-color);
  }
  button {
    background-color: #f9f9f9;
  }
}



/* select text background */
::selection {
  background-color: var(--color-secondary-opacity);
  color: var(--color-primary);
}


.active__button{
  background-color: var(--color-secondary);
  color: var(--light-color);
  border: 1px solid var(--color-secondary);
  &:hover{
    background-color: var(--color-secondary);
  }
}

.btn__call_to_action{
  background-color: var(--color-secondary);
  color: var(--light-color);
  border: 1px solid var(--color-secondary);
  &:hover{
    background-color: var(--color-secondary);
  }
}

.btn__call_to_action__outlined{
  background-color: transparent;
  color: var(--color-secondary);
  display: flex;
  border: 1px solid var(--color-secondary);
  &:hover{
    background-color: var(--color-secondary);
    color: var(--light-color);
  }
}


.small__text{
    font-size: x-small;
}